{% extends 'admins/index.html' %}
{% load static %}

{% block title %}Backtest Analytics #BT-{{ backtest.id|stringformat:"04d" }} - Admin Portal{% endblock %}
{% block nav_backtest_active %}active{% endblock %}

{% block dashboard_content %}
<div id="backtest-detail-container" class="w-100 col-12"
     hx-get="{{ request.get_full_path }}" 
     hx-trigger="reloadBacktestDetail from:body" 
     hx-target="this">
    {% if is_forex or backtest.market_type == 'FOREX_FUTURES' %}
        {% include 'admins/partials/backtest_forex_detail_content.html' %}
    {% else %}
        {% include 'admins/partials/backtest_detail_content.html' %}
    {% endif %}
</div>
{% endblock %}

