{% extends 'admins/index.html' %}
{% load static %}

{% block title %}Backtest Analytics #BT-{{ backtest.id|stringformat:"04d" }} - Admin Portal{% endblock %}
{% block nav_backtest_active %}active{% endblock %}

{% block dashboard_content %}
<div id="backtest-detail-container" class="w-100 col-12 pt-2"
     hx-get="{{ request.get_full_path }}" 
     hx-trigger="reloadBacktestDetail from:body" 
     hx-target="this">
    {% include 'admins/partials/backtest_detail_content.html' %}
</div>
{% endblock %}

